<MudAppBar Elevation="0" Class="fancy-appbar" Dense="false">
    <div class="appbar-col-left">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
    </div>
    
    <div class="appbar-col-center">
        <span class="appbar-title brand-text">Mkx.Templates</span>
    </div>
    
    <div class="appbar-col-right">
        <MudBadge Color="Color.Error" Dot="true" Overlap="true">
            <MudIconButton Icon="@Icons.Material.Filled.Notifications" Color="Color.Inherit" Size="Size.Medium" OnClick="@ToggleNotifications" />
        </MudBadge>
    </div>
</MudAppBar>

@code {
    [Parameter]
    public bool DrawerOpen { get; set; }

    [Parameter]
    public EventCallback<bool> DrawerOpenChanged { get; set; }

    [Parameter]
    public bool NotificationsOpen { get; set; }

    [Parameter]
    public EventCallback<bool> NotificationsOpenChanged { get; set; }

    private async Task ToggleDrawer()
    {
        DrawerOpen = !DrawerOpen;
        await DrawerOpenChanged.InvokeAsync(DrawerOpen);
    }

    private async Task ToggleNotifications()
    {
        NotificationsOpen = !NotificationsOpen;
        await NotificationsOpenChanged.InvokeAsync(NotificationsOpen);
    }
}
