@inherits LayoutComponentBase
@layout BaseLayout

<div class="d-flex justify-content-center align-items-center min-vh-100 box-bg">
    <MudContainer MaxWidth="MaxWidth.Small" Class="mx-auto my-auto">
        <div class="glass-card p-4 rounded-5">
            @Body
        </div>
    </MudContainer>
</div>
